{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="">
                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Actualizar registro.</h3>
                    </a>
                    <h3>Aplication</h3>
                </div>
                <form id="formulario-usuario">
                    <div class="invisible">
                        <input type="text" id="id" value={{usuario.idUsuario}} name="id">
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" id="nombre" value={{usuario.nombre}} class="form-control" name="nombre">

                        <label for="nombre">Nombre</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" id="apellido" value={{usuario.apellido}} class="form-control"
                            name="apellido">

                        <label for="apellido">Appelido</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" id="correo" value={{usuario.correo}} class="form-control" name="correo">

                        <label for="correo">Email address</label>

                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" id="clave" value={{usuario.clave}} class="form-control" name="clave">

                        <label for="clave">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" for="roles" name="roles" aria-label="Floating label select example">
                            <option id="roles" value='["ROLE_ADMIN"]'>Administrador</option>
                            <option id="roles" value='["ROLE_RECEPCION"]'>Recepcionista</option>
                            <option id="roles" value='["ROLE_LIMPIEZA"]'>Personal de limpieza</option>
                        </select>
                        <label for="roles">ROL</label>

                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" for="estado" name="estado"
                            aria-label="Floating label select example">
                            <option id="estado" value="A">Activo</option>
                            <option id="estado" value="I">Inactivo</option>
                        </select>
                        <label for="roles">Estado</label>

                    </div>

                    <div>
                        <button id="btn-actualizar" type="button"
                            class="btn btn-primary py-3 w-100 mb-4">Actualizar</button>
                    </div>


                    <p class="text-center mb-0"><a href="http://127.0.0.1:8000/usuario">Volver</a></p>

            </div>

            </form>
        </div>
    </div>
</div>
<script>
    async function editarUsuario() {
        try {
            let formUsuario = document.getElementById("formulario-usuario");
            let btn_actualizar = document.getElementById("btn-actualizar");

            btn_actualizar.addEventListener("click", async function () {
                let formData = new FormData(formUsuario);

                // Convertir el objeto FormData a un objeto JavaScript
                let data = Object.fromEntries(formData);

                // Convertir el campo roles a un objeto JavaScript
                data.roles = JSON.parse(data.roles);

                // Convertir el objeto JavaScript a una cadena JSON
                let jsonData = JSON.stringify(data);

                const idUser = formData.get("id");
                let response = await fetch(`/usuario/${idUser}/editar`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                });

                console.log(jsonData);
                stop();
            });
        } catch (error) {
            console.log(error);
        }
    }
    editarUsuario();
</script>

{% endblock %}